.message, .response {
    display: grid;
    grid-gap: 10px;
    width: 320px;
    padding: 10px;
}

.message {
    grid-template-columns: 70px auto;
}

.response {
    grid-template-columns: auto 70px;
}

.avatar {
    width: 70px;
    border-radius: 35px;
    align-self: end;
}

.content {
    position: relative;
    padding: 10px 15px 25px 15px;
}

.content::after {
    display: block;
    content: "";
    position: absolute;
    width: 30px;
    height: 15px;
    background: transparent;
}

.message .content {
    background: cadetblue;
    border-radius: 10px 10px 10px 0;
}

.response .content {
    background: cornflowerblue;
    border-radius: 10px 10px 0 10px;
}

.message .content::after {
    left: -30px;
    bottom: 0;
    border-bottom-right-radius: 15px;
    box-shadow: 15px 0 0 0 cadetblue;
}

.response .content::after {
    right: -30px;
    bottom: 0;
    border-bottom-left-radius: 15px;
    box-shadow: -15px 0 0 0 cornflowerblue;
}

.name {
    margin: 0 0 5px 0;
    font-weight: bold;
}

.messageText {
    margin: 0;
}

.messageTime {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 12px;
}