.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.message.response {
    justify-content: end;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, transparent 15px, cadetblue 0);
}

.response .angle {
    background: radial-gradient(circle at 15px 0, transparent 15px, cornflowerblue 0);
}

.content {
    padding: 10px;
}

.content {
    background: cadetblue;
    border-radius: 10px 10px 10px 0;
}

.response .content {
    background: cornflowerblue;
    border-radius: 10px 10px 0 10px;
}

.name {
    margin: 0 0 5px 0;
    font-size: 17px;
    font-weight: bold;
}

.text {
    margin: 0;
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.time {
    margin: 0;
    font-size: 12px;
    text-align: right;
}