.affair {
    display: flex;
    max-width: 350px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.item {
    margin: 10px 5px;
}

.name {
    width: 150px;
}

.priority {
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: green;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.button.active {
    background: darkgrey;
}

.filterButton {
    width: 70px;
    margin: 0 0 10px 10px;
}

.deleteButton {
    display: inline-block;
    width: 50px;
    background: red;
    color: white;
}