.affairsWrap {
    padding: 10px;
}
.filterAffairsButton {
    display: inline-block;
    margin-left: 20px;
    padding: 5px 15px;
    background: #00a495;
    border: none;
    border-radius: 5px;
    color: white;
}

.affairWrap {
    max-width: 320px;
    padding: 10px;
    box-sizing: border-box;
}
.affairWrap span, .affairWrap button {
    display: inline-block;
}
.affairTitle {
    width: 70%;
}
.affairPriority {
    width: 20%;
    text-align: center;
}
.deleteAffairButton {
    width: 10%;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}