.customInputStyle {
    border-bottom: 3px solid #00a456;
}

.customButtonStyle:hover {
    border-bottom: 2px solid darkorange;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    font-weight: bold;
}