.headerNav {margin-top: 10px;}

.headerNav .wrap {
    display: inline-block;
    transition-duration: 1000ms;
    transition-delay: 0.5s;
    transform: translate(-290px);
}

.headerNav .wrap:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.headerNav a {
    display: inline-block;
    padding: 10px 15px;
    background: #373737;
    color: white;
    text-decoration: none;
}

.headerNav a:hover {
    text-decoration: underline;
}

.headerNav .activeItem {
    background: #00a495;
}

.headerNav span {
    display: inline-block;
    padding: 10px 10px;
    background: dimgrey;
    color: white;
}