.greetingWrap {
    padding: 10px;
}
.userNameInput {
    padding: 5px;
    border: 1px solid black;
}
.addUserButton {
    padding: 6px 15px;
    background: darkorange;
    border: none;
}
.usersCount {
    margin-left: 15px;
}
.errorSpan {
    color: red;
}
.error {
    border: 1px solid red;
}